@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #019d6e;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #01d797;
}

::-webkit-scrollbar-track {
  background-color: #0e1630;
}

.App {
  text-align: center;
  font-family: "Quicksand", sans-serif !important;
}

.navbar {
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  color: #01d293;
  font-size: 35px;
}

.nav-items li {
    list-style-type: none;
}

.nav-item .underline {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #01d293;
  bottom: -12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-item a.active .underline {
  opacity: 1;
}

.nav-items a, #education p, #experience p, #skills li {
  font-size: 17px;
  font-weight: 600;
  color: rgb(128 141 173);
}

h3 {
  color: white  !important;
}

a {
  text-decoration: none;
  color: black;
}

.home, #achievements {
  text-align: left;
}

.home h3, #education h3 {
  font-weight: 400;
  font-size: 32px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

h5 {
  font-weight: 400;
  font-size: 19px;
  color: white;
}

#skills h4 {
  font-weight: 400;
  font-size: 20px;
  color: white !important;
}

.home p, li {
  font-size: 17px;
  font-weight: 400;
  color: rgb(128 141 173);
}

.btn {
  background-color: rgb(220, 13, 13);
  border: none !important;
}

.btn:hover {
  background-color: #019d6e !important;
}

.edu, .exp {
  width: 75%;
  margin: auto;
  align-items: center;
  border: 2px solid white;
  padding: 15px;
  border-radius: 18px;
}

.edu h4, .edu p, .edu ul, .exp h4, .exp p, .exp ul {
  margin: 0.4rem !important;
}

.CGPA {
  display: flex;
  justify-content: space-around;
  list-style-type: disc;
}

#achievements .btn {
  width: 300px;
  background-color: #019d6e;
}

#achievements .btn:hover {
  font-size: 1.01rem;
  font-weight: 500;
}

#achievements a {
  color: white;
}

#achievements a:hover {
  color: rgb(0, 0, 0);
}

.card {
  justify-content: center;
  padding: 8px;
}

.card-body {
  padding: 0.4em;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.card-footer a {
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

.card-footer h4 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.table>:not(caption)>*>* {
  background-color: #0e1630 !important;
  color: rgb(128 141 173);
}

.prev-icon, .next-icon {
  width: 100px;
  height: 100px;
  display: flex;
}

.prev-icon {
  justify-content: flex-start;
}

.next-icon {
  justify-content: flex-end;
}

.prev-button, .next-button {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
}

#skills .row {
  width: 80%;
}

#skills ul {
  list-style-type: none;
}

#skills li, #skills ul {
  margin: 5px 12px;
}


.contact {
  display: flex;
  justify-content: flex-end;
}

form {
  width: 75%;
}

input, textarea{
  background-color:#1c2851 !important;
  color: #ffffff !important;
  border: none !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ffffff !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff !important;
}

.border {
  padding: 10px 15px;
  border-color: #01d293 !important;
}

legend {
  width: 200px;
  color: #01d293;
}

.location, .mail {
  width: 75%;
  justify-content: space-evenly;
  margin-bottom: 7px;
}

/* 
@media (max-width: 450px) {
  .nav-items {
    flex-direction: column;
    gap: 20px;
  }
  #navItems {
    display: none;
    position: relative;
    width: 80vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }
  .socials {
    border: none !important;
  }
  #socials {
    flex-wrap: nowrap;
  }
} */

.nav-div {
  width: 85%;
}

@media (max-width: 900px) {
  /* #navItems {
    background-color: #000000 !important;
  } */
  .navbar {
    padding: 20px 5px !important;
  }
  .navbar-brand {
    font-size: 30px;
    margin-left: 10px !important;
  }
  .nav-div {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-items {
    flex-direction: column;
    gap: 20px;
  }
  .socials {
    border: none !important;
  }
  #socials {
    flex-wrap: nowrap;
  }

  #home {
    align-items: center;
  }
  .home {
    padding: 0 !important;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .home-container {
    width: 100% !important;
  }
  .col-5 {
    width: 70%;
  }
  .col-7, .col-6, .col-4 {
    width: 100%;
  }

  #home h3, #education h3, #achievements h3 {
    font-weight: 400;
    font-size: 25px !important;
  }
  .home p {
    font-size: 15px;
  }


  .edu-container, .exp-container {
    padding: 0 !important;
  }
  .edu, .exp {
    width: 100%;
}
.edu {
    flex-wrap: nowrap;    
    flex-direction: column-reverse;
  }
  .row .edu, .row .exp {
    padding: 7px 0px !important;
  }
  .city {
    display: none;
  }
  .col-2 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .col-8 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .col-2 p {
    margin-top: 0 !important;
  }
  #education p, li {
    font-size: 15px !important;
  }
  #education h4 {
    font-size: 17px !important;
  }
  #education ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .col-1 {
    display: none;
  }
  .row {
    padding: 0 !important;
  }
  .achievements {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
  }
  .achievements .col-4 {
    display: flex;
    justify-content: center;
  }
  .c-profiles {
    gap: 12px !important;
  }


  #projects {
    height: 70vh !important;
    padding-top: 25vh !important;
  }
  #projects .container {
    padding: 0.5rem !important;
  }
  .carousel-container {
    width: 95% !important;
  }
  .card-body {
    padding: 0;
  }
  .card-footer {
    display: block;
    padding: 5px 8px;
  }
  .card-footer a {
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
  }
  .card-footer h4 {
      font-weight: 400;
      font-size: 15px;
      margin: 12px 0;
  }


  #skills .container {
    padding: 0 !important;
  }
  #skills .row {
    width: 100%;
  }
  #skills .ele-1 {
    width: 42%;
    padding: 0;
    margin-bottom: 15px;
  }
  #skills .ele-2 {
    width: 58%;
    padding: 0;
    margin-bottom: 15px;
  }
  #skills h4, h5 {
    font-size: 17px;
  }


  #footer .container, .info {
    width: 100% !important;
  }
  #footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px !important;
  }
  form {
    width: 100% !important;
  }
  
}

.test {
  color: #040c27;
}


