@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.App {
  text-align: center;
  font-family: "Quicksand", sans-serif !important;
}

.navbar {
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  color: #01d293;
  font-size: 35px;
}

.nav-items a, #education p {
  font-size: 17px;
  font-weight: 600;
  color: rgb(128 141 173);
}

h3 {
  color: white  !important;
}

a {
  text-decoration: none;
  color: black;
}

.home, #achievements {
  text-align: left;
}

.home h3, #education h3 {
  font-weight: 400;
  font-size: 32px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.home p, li {
  font-size: 17px;
  font-weight: 400;
  color: rgb(128 141 173);
}

.btn {
  background-color: rgb(220, 13, 13);
  border: none !important;
}

.btn:hover {
  background-color: #019d6e !important;
}

.edu {
  border: 2px solid white;
  padding: 15px;
  border-radius: 18px;
}

.edu h4, .edu p, .edu ul {
  margin: 0.4rem !important;
}

.CGPA {
  display: flex;
  justify-content: space-around;
  list-style-type: disc;
}

#achievements .btn {
  width: 300px;
  background-color: #019d6e;
}

#achievements .btn:hover {
  font-size: 1.01rem;
  font-weight: 500;
}

#achievements a {
  color: white;
}

#achievements a:hover {
  color: rgb(0, 0, 0);
}

.test {
  color: rgb(31, 32, 52);
}


